body {
    background-color: rgb(245, 242, 220);
}

#main-content {
    max-width: 600px;
}

#grid {
    box-shadow: 5px 5px 5px, 5px 5px 5px;
    background-color: white;
}

.grid-row {
    display: flex;
}

.square{
    background-color: white;
    margin: 0;
    padding: 0;
    opacity: 0;
}